*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Poppins,sans-serif;
}

body{
background:#09111d;
color:#fff;
}

nav{

position:fixed;
top:0;
width:100%;

padding:20px 8%;

display:flex;
justify-content:space-between;
align-items:center;

background:#101827dd;
backdrop-filter:blur(10px);

}

nav ul{

display:flex;
list-style:none;
gap:25px;

}

nav a{

color:white;
text-decoration:none;

}

.logo{

font-size:24px;
font-weight:bold;
color:#40d9ff;

}

.hero{

min-height:100vh;

padding:120px 8%;

display:flex;
justify-content:space-between;
align-items:center;

gap:60px;

}

.left{

max-width:600px;

}

.left h1{

font-size:60px;

}

.left span{

color:#40d9ff;

}

.left p{

margin-top:20px;
line-height:30px;
color:#bcbcbc;

}

.btn{

display:inline-block;

margin-top:30px;

padding:15px 35px;

background:#40d9ff;

color:black;

border-radius:30px;

text-decoration:none;

font-weight:bold;

}

.right img{

width:320px;
height:320px;

object-fit:cover;

border-radius:50%;

border:5px solid #40d9ff;

}

section{

padding:90px 8%;

}

h2{

font-size:40px;

margin-bottom:40px;

color:#40d9ff;

}

.cards{

display:grid;

grid-template-columns:repeat(auto-fit,minmax(220px,1fr));

gap:25px;

}

.card{

background:#111827;

padding:40px;

border-radius:15px;

text-align:center;

}

.card h3{

font-size:45px;

color:#40d9ff;

}

.research-grid{

display:grid;

grid-template-columns:repeat(auto-fit,minmax(280px,1fr));

gap:25px;

}

.box{

background:#111827;

padding:30px;

border-radius:15px;

}

.links{

display:flex;

gap:20px;

}

.links a{

color:#40d9ff;

text-decoration:none;

}

footer{

text-align:center;

padding:40px;

color:#888;

}